/*Home page search results table
 * Kudos: http://coding.smashingmagazine.com/2008/08/13/top-10-css-table-designs/
 * hor-zebra
 * Also: http://docs.jquery.com/Tutorials:Zebra_Striping_Made_Easy
 * */

#incidents
{
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;*/
    font-size: 12px;
    /*margin: 10px;*/
    /*width: 480px;*/
    text-align: left;
    border-collapse: collapse;
}

/*#incidents th
{
	font-size: 16px;
	font-weight: normal;
	padding: 6px 4px;
	color: #039;
}*/
#incidents th {
    font-size: 16px;
    /*background: #3E83C9;*/
    /*background: #FF8040;*/
    /*background: #6989AB;*/
    background: #BFA040;
    color: white;
    font-weight: bold;
    padding: 2px 6px;
    text-align: center;
    border-right: 1px solid white;
    line-height: 1.2;
}

#incidents td
{
    /*padding: 6px;*/
    color: #669;
    font-size: 16px;

    padding: 6px 2px;
    /*border-bottom: 1px solid #2175BC;*/
    border-bottom: 1px solid #BBB195;
    vertical-align: top;
}
#incidents .odd
{
    background: #e8edff;
}

tr.alt td
{
    /*background: #ecf6fc; */
    /*background: #ADCEF2; */
    /*background: #FFE183; */
    background: #FCF3D7;
}
tr.over td, tr:hover td
{
    /*background: #bcd4ec;*/
}

#actionTakenList
{
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;*/
    font-size: 12px;
    /*margin: 10px;*/
    /*width: 480px;*/
    text-align: left;
    border-collapse: collapse;
}

/*#actionTakenList th
{
	font-size: 16px;
	font-weight: normal;
	padding: 6px 4px;
	color: #039;
}*/
#actionTakenList th {
    font-size: 16px;
    /*background: #3E83C9;*/
    /*background: #FF8040;*/
    /*background: #6989AB;*/
    background: #BFA040;
    color: white;
    font-weight: bold;
    padding: 2px 6px;
    text-align: center;
    border-right: 1px solid white;
    line-height: 1.2;
}

#actionTakenList td
{
    /*padding: 6px;*/
    color: #669;
    font-size: 16px;

    padding: 6px 2px;
    /*border-bottom: 1px solid #2175BC;*/
    border-bottom: 1px solid #BBB195;
    vertical-align: top;
}
#actionTakenList .odd
{
    background: #e8edff;
}

.noStripeMeHeader
{
    background: #6EA8E4;
}

#nextLink {
    color: #034AF3;
}

form {
    vertical-align: middle;
}

input[type=text], input[type=password], input[type=select] {
    margin: auto;
}


select {
    margin-top: 10px;
}

/*Override bootstrap.css*/
.navbar .brand {
    padding: 14px 20px 10px;
}

label{
    float: left;
    width: 115px;
    font-weight: bold;
    /*margin-right: 4px;*/
    padding-left: 4px;
}

.sectionHeader {
    background: none repeat scroll 0 0 #DDDDDD;
    font-family: Tahoma,Verdana,Arial,sans-serif;
    font-size: 12pt;
    font-weight: bold;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
}

.formTable {
    margin: 0px;
    background-color: transparent;
}

.formTable td {
    font-size: 12pt;
    vertical-align: top;
}

.sectionHeaderRow {
    /*font-size:10px;*/
    width:240px;
    font-size: 20px;
    background-color: #DDDDDD;
    /*height: 24px !important;*/
}

.alertCheckboxValue {
    font-size: 14px;
}

h1 {
    font-size: 16pt;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}
h2 {
    font-size: 14pt;
    font-weight: bold;
}
h3 {
    font-size: 9pt;
    font-weight: bold;
}
td {
    font-size: 8pt;
}
th {
    font-size: 8pt;
}

#form-container {
    padding-left: 10px;
}

#actionTaken-container {
    padding-left: 10px;
}

/*override bootstrap*/
.nav {
    margin-bottom: 0;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
