(function() {
  var template = Handlebars.template, templates = Handlebars.templates = Handlebars.templates || {};
templates['templates.html'] = template(function (Handlebars,depth0,helpers,partials,data) {
  this.compilerInfo = [4,'>= 1.0.0'];
helpers = this.merge(helpers, Handlebars.helpers); data = data || {};
  var buffer = "", stack1, stack2, options, self=this, helperMissing=helpers.helperMissing, functionType="function", escapeExpression=this.escapeExpression, blockHelperMissing=helpers.blockHelperMissing;

function program1(depth0,data) {
  
  var buffer = "";
  return buffer;
  }

function program3(depth0,data) {
  
  var buffer = "", stack1, stack2, options;
  buffer += "\n    <td>";
  options = {hash:{},inverse:self.noop,fn:self.program(1, program1, data),data:data};
  stack2 = ((stack1 = helpers.renderPriority || (depth0 && depth0.renderPriority)),stack1 ? stack1.call(depth0, (depth0 && depth0.priority), (depth0 && depth0.dateResolved), options) : helperMissing.call(depth0, "renderPriority", (depth0 && depth0.priority), (depth0 && depth0.dateResolved), options));
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "</td><td onclick=\"window.location='#incidentRecords/";
  if (stack2 = helpers._id) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0._id); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "'\"><a href=\"#incidentRecords/";
  if (stack2 = helpers._id) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0._id); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "\" title=\"ID: ";
  if (stack2 = helpers.assignedId) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.assignedId); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "\">";
  if (stack2 = helpers.phone) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.phone); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "&nbsp;&nbsp;</a></td><td>";
  options = {hash:{},inverse:self.noop,fn:self.program(1, program1, data),data:data};
  stack2 = ((stack1 = helpers.renderVillage || (depth0 && depth0.renderVillage)),stack1 ? stack1.call(depth0, (depth0 && depth0.village), options) : helperMissing.call(depth0, "renderVillage", (depth0 && depth0.village), options));
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "</td>\n    <td>";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.dep_administration), {hash:{},inverse:self.noop,fn:self.program(4, program4, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n        ";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.dep_community_development), {hash:{},inverse:self.noop,fn:self.program(6, program6, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n        ";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.dev_council), {hash:{},inverse:self.noop,fn:self.program(8, program8, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n        ";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.dev_education), {hash:{},inverse:self.noop,fn:self.program(10, program10, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n        ";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.dev_finance), {hash:{},inverse:self.noop,fn:self.program(12, program12, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n        ";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.dev_health), {hash:{},inverse:self.noop,fn:self.program(14, program14, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n        ";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.dev_nat_resources), {hash:{},inverse:self.noop,fn:self.program(16, program16, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n        ";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.dev_production), {hash:{},inverse:self.noop,fn:self.program(18, program18, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n        ";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.dev_works), {hash:{},inverse:self.noop,fn:self.program(20, program20, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "</td>\n    <td>";
  options = {hash:{},inverse:self.noop,fn:self.program(1, program1, data),data:data};
  stack2 = ((stack1 = helpers.dateFormatDate || (depth0 && depth0.dateFormatDate)),stack1 ? stack1.call(depth0, (depth0 && depth0.lastModified), options) : helperMissing.call(depth0, "dateFormatDate", (depth0 && depth0.lastModified), options));
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "</td>\n	";
  return buffer;
  }
function program4(depth0,data) {
  
  
  return "Admin<br/>";
  }

function program6(depth0,data) {
  
  
  return "Comm. Dev.<br/>";
  }

function program8(depth0,data) {
  
  
  return "Council<br/>";
  }

function program10(depth0,data) {
  
  
  return "Edu.<br/>";
  }

function program12(depth0,data) {
  
  
  return "Fin.<br/>";
  }

function program14(depth0,data) {
  
  
  return "Health<br/>";
  }

function program16(depth0,data) {
  
  
  return "Nat. Res.<br/>";
  }

function program18(depth0,data) {
  
  
  return "Prod.<br/>";
  }

function program20(depth0,data) {
  
  
  return "Works<br/>";
  }

function program22(depth0,data) {
  
  var buffer = "", stack1, stack2, options;
  buffer += "\n    <td>";
  options = {hash:{},inverse:self.noop,fn:self.program(1, program1, data),data:data};
  stack2 = ((stack1 = helpers.renderPriority || (depth0 && depth0.renderPriority)),stack1 ? stack1.call(depth0, (depth0 && depth0.priority), (depth0 && depth0.dateResolved), options) : helperMissing.call(depth0, "renderPriority", (depth0 && depth0.priority), (depth0 && depth0.dateResolved), options));
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "</td><td><a href=\"#incidentRecords/";
  if (stack2 = helpers._id) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0._id); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "\" title=\"ID: ";
  if (stack2 = helpers.assignedId) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.assignedId); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "\"> --- </a></td><td>";
  options = {hash:{},inverse:self.noop,fn:self.program(1, program1, data),data:data};
  stack2 = ((stack1 = helpers.renderVillage || (depth0 && depth0.renderVillage)),stack1 ? stack1.call(depth0, (depth0 && depth0.village), options) : helperMissing.call(depth0, "renderVillage", (depth0 && depth0.village), options));
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "</td>\n    <td>";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.dep_administration), {hash:{},inverse:self.noop,fn:self.program(4, program4, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n        ";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.dep_community_development), {hash:{},inverse:self.noop,fn:self.program(6, program6, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n        ";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.dev_council), {hash:{},inverse:self.noop,fn:self.program(8, program8, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n        ";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.dev_education), {hash:{},inverse:self.noop,fn:self.program(10, program10, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n        ";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.dev_finance), {hash:{},inverse:self.noop,fn:self.program(12, program12, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n        ";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.dev_health), {hash:{},inverse:self.noop,fn:self.program(14, program14, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n        ";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.dev_nat_resources), {hash:{},inverse:self.noop,fn:self.program(16, program16, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n        ";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.dev_production), {hash:{},inverse:self.noop,fn:self.program(18, program18, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n        ";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.dev_works), {hash:{},inverse:self.noop,fn:self.program(20, program20, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "</td>\n    <td>";
  options = {hash:{},inverse:self.noop,fn:self.program(1, program1, data),data:data};
  stack2 = ((stack1 = helpers.dateFormatDate || (depth0 && depth0.dateFormatDate)),stack1 ? stack1.call(depth0, (depth0 && depth0.lastModified), options) : helperMissing.call(depth0, "dateFormatDate", (depth0 && depth0.lastModified), options));
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "</td>\n";
  return buffer;
  }

function program24(depth0,data) {
  
  
  return "Initial Assignment<br/>";
  }

function program26(depth0,data) {
  
  
  return "Followup<br/>";
  }

function program28(depth0,data) {
  
  
  return "Phone call<br/>";
  }

function program30(depth0,data) {
  
  
  return "Resolved<br/>";
  }

function program32(depth0,data) {
  
  
  return "\n	";
  }

function program34(depth0,data) {
  
  var buffer = "", stack1;
  buffer += "data-";
  if (stack1 = helpers.name) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = (depth0 && depth0.name); stack1 = typeof stack1 === functionType ? stack1.call(depth0, {hash:{},data:data}) : stack1; }
  buffer += escapeExpression(stack1)
    + "='";
  if (stack1 = helpers.value) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = (depth0 && depth0.value); stack1 = typeof stack1 === functionType ? stack1.call(depth0, {hash:{},data:data}) : stack1; }
  buffer += escapeExpression(stack1)
    + "' ";
  return buffer;
  }

function program36(depth0,data) {
  
  var buffer = "", stack1, options;
  buffer += "\n  	<input id='";
  if (stack1 = helpers.identifier) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = (depth0 && depth0.identifier); stack1 = typeof stack1 === functionType ? stack1.call(depth0, {hash:{},data:data}) : stack1; }
  buffer += escapeExpression(stack1)
    + "' class=\"css-checkbox\" ";
  options = {hash:{},inverse:self.noop,fn:self.program(34, program34, data),data:data};
  if (stack1 = helpers.options) { stack1 = stack1.call(depth0, options); }
  else { stack1 = (depth0 && depth0.options); stack1 = typeof stack1 === functionType ? stack1.call(depth0, options) : stack1; }
  if (!helpers.options) { stack1 = blockHelperMissing.call(depth0, stack1, options); }
  if(stack1 || stack1 === 0) { buffer += stack1; }
  buffer += " name='";
  if (stack1 = helpers.identifier) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = (depth0 && depth0.identifier); stack1 = typeof stack1 === functionType ? stack1.call(depth0, {hash:{},data:data}) : stack1; }
  buffer += escapeExpression(stack1)
    + "' type='checkbox' value='1' checked='checked'></input>\n  	";
  return buffer;
  }

function program38(depth0,data) {
  
  var buffer = "", stack1, options;
  buffer += "\n  	  	<input id='";
  if (stack1 = helpers.identifier) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = (depth0 && depth0.identifier); stack1 = typeof stack1 === functionType ? stack1.call(depth0, {hash:{},data:data}) : stack1; }
  buffer += escapeExpression(stack1)
    + "' class=\"css-checkbox\" ";
  options = {hash:{},inverse:self.noop,fn:self.program(34, program34, data),data:data};
  if (stack1 = helpers.options) { stack1 = stack1.call(depth0, options); }
  else { stack1 = (depth0 && depth0.options); stack1 = typeof stack1 === functionType ? stack1.call(depth0, options) : stack1; }
  if (!helpers.options) { stack1 = blockHelperMissing.call(depth0, stack1, options); }
  if(stack1 || stack1 === 0) { buffer += stack1; }
  buffer += " name='";
  if (stack1 = helpers.identifier) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = (depth0 && depth0.identifier); stack1 = typeof stack1 === functionType ? stack1.call(depth0, {hash:{},data:data}) : stack1; }
  buffer += escapeExpression(stack1)
    + "' type='checkbox' value='1'></input>\n	";
  return buffer;
  }

function program40(depth0,data) {
  
  var buffer = "", stack1, options;
  buffer += "\n	<input id='";
  if (stack1 = helpers.identifier) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = (depth0 && depth0.identifier); stack1 = typeof stack1 === functionType ? stack1.call(depth0, {hash:{},data:data}) : stack1; }
  buffer += escapeExpression(stack1)
    + "' class=\"css-checkbox\" ";
  options = {hash:{},inverse:self.noop,fn:self.program(34, program34, data),data:data};
  if (stack1 = helpers.options) { stack1 = stack1.call(depth0, options); }
  else { stack1 = (depth0 && depth0.options); stack1 = typeof stack1 === functionType ? stack1.call(depth0, options) : stack1; }
  if (!helpers.options) { stack1 = blockHelperMissing.call(depth0, stack1, options); }
  if(stack1 || stack1 === 0) { buffer += stack1; }
  buffer += " name='";
  if (stack1 = helpers.identifier) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = (depth0 && depth0.identifier); stack1 = typeof stack1 === functionType ? stack1.call(depth0, {hash:{},data:data}) : stack1; }
  buffer += escapeExpression(stack1)
    + "' type='checkbox' value='1' checked='checked'></input>\n    ";
  return buffer;
  }

function program42(depth0,data) {
  
  var buffer = "", stack1, options;
  buffer += "\n    <input id='";
  if (stack1 = helpers.identifier) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = (depth0 && depth0.identifier); stack1 = typeof stack1 === functionType ? stack1.call(depth0, {hash:{},data:data}) : stack1; }
  buffer += escapeExpression(stack1)
    + "' class=\"css-checkbox\" ";
  options = {hash:{},inverse:self.noop,fn:self.program(34, program34, data),data:data};
  if (stack1 = helpers.options) { stack1 = stack1.call(depth0, options); }
  else { stack1 = (depth0 && depth0.options); stack1 = typeof stack1 === functionType ? stack1.call(depth0, options) : stack1; }
  if (!helpers.options) { stack1 = blockHelperMissing.call(depth0, stack1, options); }
  if(stack1 || stack1 === 0) { buffer += stack1; }
  buffer += " name='";
  if (stack1 = helpers.identifier) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = (depth0 && depth0.identifier); stack1 = typeof stack1 === functionType ? stack1.call(depth0, {hash:{},data:data}) : stack1; }
  buffer += escapeExpression(stack1)
    + "' type='checkbox' value='1'></input>\n    ";
  return buffer;
  }

  buffer += "<script id=\"form-element-template\" type=\"text/x-handlebars-template\">\n  	";
  if (stack1 = helpers.renderWidget) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = (depth0 && depth0.renderWidget); stack1 = typeof stack1 === functionType ? stack1.call(depth0, {hash:{},data:data}) : stack1; }
  if(stack1 || stack1 === 0) { buffer += stack1; }
  buffer += "\n</script>\n<script id=\"record-element-template\" type=\"text/x-handlebars-template\">\n  	";
  if (stack1 = helpers.renderValue) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = (depth0 && depth0.renderValue); stack1 = typeof stack1 === functionType ? stack1.call(depth0, {hash:{},data:data}) : stack1; }
  if(stack1 || stack1 === 0) { buffer += stack1; }
  buffer += "\n</script>\n<script id=\"record-template\" type=\"text/x-handlebars-template\">\n    <td><a href=\"#record/";
  if (stack1 = helpers._id) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = (depth0 && depth0._id); stack1 = typeof stack1 === functionType ? stack1.call(depth0, {hash:{},data:data}) : stack1; }
  buffer += escapeExpression(stack1)
    + "\">";
  if (stack1 = helpers.formId) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = (depth0 && depth0.formId); stack1 = typeof stack1 === functionType ? stack1.call(depth0, {hash:{},data:data}) : stack1; }
  buffer += escapeExpression(stack1)
    + "</a></td><td>";
  options = {hash:{},inverse:self.noop,fn:self.program(1, program1, data),data:data};
  stack2 = ((stack1 = helpers.dateFormat || (depth0 && depth0.dateFormat)),stack1 ? stack1.call(depth0, (depth0 && depth0.lastModified), options) : helperMissing.call(depth0, "dateFormat", (depth0 && depth0.lastModified), options));
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "</td>\n</script>\n<script id=\"edit-template\" type=\"text/x-handlebars-template\">\n    <td><a href=\"#edit/";
  if (stack2 = helpers._id) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0._id); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "\">";
  if (stack2 = helpers.formId) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.formId); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "</a></td><td>";
  options = {hash:{},inverse:self.noop,fn:self.program(1, program1, data),data:data};
  stack2 = ((stack1 = helpers.dateFormat || (depth0 && depth0.dateFormat)),stack1 ? stack1.call(depth0, (depth0 && depth0.lastModified), options) : helperMissing.call(depth0, "dateFormat", (depth0 && depth0.lastModified), options));
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "</td>\n</script>\n<script id=\"search-template\" type=\"text/x-handlebars-template\">\n";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.phone), {hash:{},inverse:self.program(22, program22, data),fn:self.program(3, program3, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n</script>\n<script id=\"actionTakenList-template\" type=\"text/x-handlebars-template\">\n    <td><a href=\"#editActionTaken/";
  if (stack2 = helpers._id) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0._id); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "\" title=\"Edit this Action Taken\">";
  options = {hash:{},inverse:self.noop,fn:self.program(1, program1, data),data:data};
  stack2 = ((stack1 = helpers.dateFormatDate || (depth0 && depth0.dateFormatDate)),stack1 ? stack1.call(depth0, (depth0 && depth0.lastModified), options) : helperMissing.call(depth0, "dateFormatDate", (depth0 && depth0.lastModified), options));
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "</a></td>\n    <td>";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.initial_assignment), {hash:{},inverse:self.noop,fn:self.program(24, program24, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n        ";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.followup), {hash:{},inverse:self.noop,fn:self.program(26, program26, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n        ";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.phonecall), {hash:{},inverse:self.noop,fn:self.program(28, program28, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n        ";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.dev_education), {hash:{},inverse:self.noop,fn:self.program(10, program10, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n        ";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.resolved), {hash:{},inverse:self.noop,fn:self.program(30, program30, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "</td>\n    <td>";
  if (stack2 = helpers.comment) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.comment); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "</td>\n</script>\n<script id=\"recordValue\" type=\"text/x-handlebars-template\">\n    ";
  if (stack2 = helpers.value) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.value); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "\n</script>\n<script id=\"recordMDYTimeDateValue\" type=\"text/x-handlebars-template\">\n    ";
  options = {hash:{},inverse:self.noop,fn:self.program(1, program1, data),data:data};
  stack2 = ((stack1 = helpers.dateFormatdMY || (depth0 && depth0.dateFormatdMY)),stack1 ? stack1.call(depth0, (depth0 && depth0.value), options) : helperMissing.call(depth0, "dateFormatdMY", (depth0 && depth0.value), options));
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n</script>\n<script id=\"recordDropdownValue\" type=\"text/x-handlebars-template\">\n	";
  options = {hash:{},inverse:self.noop,fn:self.program(32, program32, data),data:data};
  stack2 = ((stack1 = helpers.dropdownValue || (depth0 && depth0.dropdownValue)),stack1 ? stack1.call(depth0, (depth0 && depth0.enumerations), (depth0 && depth0.value), options) : helperMissing.call(depth0, "dropdownValue", (depth0 && depth0.enumerations), (depth0 && depth0.value), options));
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n</script>\n<script id=\"recordDropdownCSVValue\" type=\"text/x-handlebars-template\">X\n	";
  options = {hash:{},inverse:self.noop,fn:self.program(32, program32, data),data:data};
  stack2 = ((stack1 = helpers.dropdownCSVValue || (depth0 && depth0.dropdownCSVValue)),stack1 ? stack1.call(depth0, (depth0 && depth0.enumerations), (depth0 && depth0.value), options) : helperMissing.call(depth0, "dropdownCSVValue", (depth0 && depth0.enumerations), (depth0 && depth0.value), options));
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n</script>\n<script id=\"recordCheckboxValue\" type=\"text/x-handlebars-template\">\n	";
  options = {hash:{},inverse:self.noop,fn:self.program(32, program32, data),data:data};
  stack2 = ((stack1 = helpers.checkboxValue || (depth0 && depth0.checkboxValue)),stack1 ? stack1.call(depth0, (depth0 && depth0.value), options) : helperMissing.call(depth0, "checkboxValue", (depth0 && depth0.value), options));
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n</script>\n<script id=\"recordCheckboxAlert\" type=\"text/x-handlebars-template\"></script>\n<script id=\"recordYesnoValue\" type=\"text/x-handlebars-template\">\n	";
  options = {hash:{},inverse:self.noop,fn:self.program(32, program32, data),data:data};
  stack2 = ((stack1 = helpers.yesNoValue || (depth0 && depth0.yesNoValue)),stack1 ? stack1.call(depth0, (depth0 && depth0.value), options) : helperMissing.call(depth0, "yesNoValue", (depth0 && depth0.value), options));
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n</script>\n<script id=\"recordGenderValue\" type=\"text/x-handlebars-template\">\n	";
  options = {hash:{},inverse:self.noop,fn:self.program(32, program32, data),data:data};
  stack2 = ((stack1 = helpers.genderValue || (depth0 && depth0.genderValue)),stack1 ? stack1.call(depth0, (depth0 && depth0.value), options) : helperMissing.call(depth0, "genderValue", (depth0 && depth0.value), options));
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n</script>\n<script id=\"doNotRender\" type=\"text/x-handlebars-template\"></script>\n<script id=\"inputTextWidget\" type=\"text/x-handlebars-template\">\n    <input id='";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "' ";
  options = {hash:{},inverse:self.noop,fn:self.program(34, program34, data),data:data};
  if (stack2 = helpers.options) { stack2 = stack2.call(depth0, options); }
  else { stack2 = (depth0 && depth0.options); stack2 = typeof stack2 === functionType ? stack2.call(depth0, options) : stack2; }
  if (!helpers.options) { stack2 = blockHelperMissing.call(depth0, stack2, options); }
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += " name='";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "' type='text' value='";
  if (stack2 = helpers.value) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.value); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "' size='";
  if (stack2 = helpers.size) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.size); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "' maxlength='";
  if (stack2 = helpers.maxlength) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.maxlength); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "'></input>\n</script>\n<script id=\"datepickerWidget\" type=\"text/x-handlebars-template\">\n  <input id='";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "' class='datep' ";
  options = {hash:{},inverse:self.noop,fn:self.program(34, program34, data),data:data};
  if (stack2 = helpers.options) { stack2 = stack2.call(depth0, options); }
  else { stack2 = (depth0 && depth0.options); stack2 = typeof stack2 === functionType ? stack2.call(depth0, options) : stack2; }
  if (!helpers.options) { stack2 = blockHelperMissing.call(depth0, stack2, options); }
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += " name='";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "' type='text' value='";
  if (stack2 = helpers.value) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.value); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "' size='";
  if (stack2 = helpers.size) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.size); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "' maxlength='";
  if (stack2 = helpers.maxlength) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.maxlength); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "'></input>\n</script>\n<script id=\"checkboxWidget\" type=\"text/x-handlebars-template\">\n	";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.value), {hash:{},inverse:self.program(38, program38, data),fn:self.program(36, program36, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n    <label for=\"";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "\" class=\"css-label\"></label>\n</script>\n<script id=\"checkboxAlertWidget\" type=\"text/x-handlebars-template\">\n    ";
  stack2 = helpers['if'].call(depth0, (depth0 && depth0.value), {hash:{},inverse:self.program(42, program42, data),fn:self.program(40, program40, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n    <label for=\"";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "\" class=\"css-label\"></label>\n</script>\n<script id=\"textareaWidget\" type=\"text/x-handlebars-template\">\n  	<br/><textarea id='";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "' ";
  options = {hash:{},inverse:self.noop,fn:self.program(34, program34, data),data:data};
  if (stack2 = helpers.options) { stack2 = stack2.call(depth0, options); }
  else { stack2 = (depth0 && depth0.options); stack2 = typeof stack2 === functionType ? stack2.call(depth0, options) : stack2; }
  if (!helpers.options) { stack2 = blockHelperMissing.call(depth0, stack2, options); }
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += " name='";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "' rows='";
  if (stack2 = helpers.rows) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.rows); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "' cols='";
  if (stack2 = helpers.cols) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.cols); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "'>";
  if (stack2 = helpers.value) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.value); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "</textarea>\n</script>\n<script id=\"dropdownWidget\" type=\"text/x-handlebars-template\">\n	<select id='";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "' ";
  options = {hash:{},inverse:self.noop,fn:self.program(34, program34, data),data:data};
  if (stack2 = helpers.options) { stack2 = stack2.call(depth0, options); }
  else { stack2 = (depth0 && depth0.options); stack2 = typeof stack2 === functionType ? stack2.call(depth0, options) : stack2; }
  if (!helpers.options) { stack2 = blockHelperMissing.call(depth0, stack2, options); }
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += " name='";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "'>\n	";
  options = {hash:{},inverse:self.noop,fn:self.program(32, program32, data),data:data};
  stack2 = ((stack1 = helpers.dropdown || (depth0 && depth0.dropdown)),stack1 ? stack1.call(depth0, (depth0 && depth0.enumerations), options) : helperMissing.call(depth0, "dropdown", (depth0 && depth0.enumerations), options));
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n	</select>\n</script>\n<script id=\"dropdownWidgetFormDesigner\" type=\"text/x-handlebars-template\">\n<select id='";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "' ";
  options = {hash:{},inverse:self.noop,fn:self.program(34, program34, data),data:data};
  if (stack2 = helpers.options) { stack2 = stack2.call(depth0, options); }
  else { stack2 = (depth0 && depth0.options); stack2 = typeof stack2 === functionType ? stack2.call(depth0, options) : stack2; }
  if (!helpers.options) { stack2 = blockHelperMissing.call(depth0, stack2, options); }
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += " name='";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "'>\n";
  options = {hash:{},inverse:self.noop,fn:self.program(32, program32, data),data:data};
  stack2 = ((stack1 = helpers.dropdownWidgetValue || (depth0 && depth0.dropdownWidgetValue)),stack1 ? stack1.call(depth0, (depth0 && depth0.enumerations), (depth0 && depth0.value), options) : helperMissing.call(depth0, "dropdownWidgetValue", (depth0 && depth0.enumerations), (depth0 && depth0.value), options));
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n	</select>\n</script>\n<script id=\"dropdownWidgetCascade\" type=\"text/x-handlebars-template\">\n<select id='";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "' class='";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "' ";
  options = {hash:{},inverse:self.noop,fn:self.program(34, program34, data),data:data};
  if (stack2 = helpers.options) { stack2 = stack2.call(depth0, options); }
  else { stack2 = (depth0 && depth0.options); stack2 = typeof stack2 === functionType ? stack2.call(depth0, options) : stack2; }
  if (!helpers.options) { stack2 = blockHelperMissing.call(depth0, stack2, options); }
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += " name='";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "'>\n";
  options = {hash:{},inverse:self.noop,fn:self.program(32, program32, data),data:data};
  stack2 = ((stack1 = helpers.dropdownWidgetValue || (depth0 && depth0.dropdownWidgetValue)),stack1 ? stack1.call(depth0, (depth0 && depth0.enumerations), (depth0 && depth0.value), options) : helperMissing.call(depth0, "dropdownWidgetValue", (depth0 && depth0.enumerations), (depth0 && depth0.value), options));
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n	</select>\n</script>\n<script id=\"displayTableWidget\" type=\"text/x-handlebars-template\">\n	<table id=\"tbl";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\" border=\"0\" cellpadding=\"4\" cellspacing=\"2\" class=\"formTable\"></table>\n</script>\n<script id=\"displayHeaderWidget\" type=\"text/x-handlebars-template\">\n	<span id='sectionHeader";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "' class='sectionHeader'> ";
  if (stack2 = helpers.label) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.label); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "</span>\n</script>\n<script id=\"displaySubHeaderWidget\" type=\"text/x-handlebars-template\">\n	<span id='sectionSubHeader";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "' class='sectionHeader'>";
  if (stack2 = helpers.label) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.label); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "</span>\n</script>\n<script id=\"displayInfotextWidget\" type=\"text/x-handlebars-template\">\n	<strong>";
  if (stack2 = helpers.label) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.label); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "</strong>\n</script>\n<script id=\"displayActionTakenLink\" type=\"text/x-handlebars-template\">\n    <button id=\"actionTakenLink\" class=\"menu-blue\" onclick=\"window.location.href = '#actionTaken/";
  if (stack2 = helpers.value) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.value); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "'\">Add Action Taken</button>\n</script>\n<script id=\"yesnoWidget\" type=\"text/x-handlebars-template\">\n	<br/>\n	<input type=\"radio\" id = \"yes";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "\" name=\"";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "\" value=\"1\" /><label for=\"yes";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "\">Yes</label><br />\n	<input type=\"radio\" id = \"no";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "\" name=\"";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "\" value=\"0\" /><label for=\"no";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "\">No</label>\n</script>\n<script id=\"genderWidget\" type=\"text/x-handlebars-template\">\n	<br/>\n	<input type=\"radio\" id = \"f";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "\" name=\"";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "\" value=\"1\" /><label for=\"f";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "\">Female</label><br />\n	<input type=\"radio\" id = \"m";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "\" name=\"";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "\" value=\"2\" /><label for=\"m";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "\">Male</label>\n</script>\n<script id=\"hiddenWidget\" type=\"text/x-handlebars-template\">\n    <input id='";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "' ";
  options = {hash:{},inverse:self.noop,fn:self.program(34, program34, data),data:data};
  if (stack2 = helpers.options) { stack2 = stack2.call(depth0, options); }
  else { stack2 = (depth0 && depth0.options); stack2 = typeof stack2 === functionType ? stack2.call(depth0, options) : stack2; }
  if (!helpers.options) { stack2 = blockHelperMissing.call(depth0, stack2, options); }
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += " name='";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "' type='hidden' value='";
  if (stack2 = helpers.value) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.value); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "'></input>\n</script>\n<script id=\"buttonWidget\" type=\"text/x-handlebars-template\">\n    <button id='";
  if (stack2 = helpers.identifier) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.identifier); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "' class='wideButton' type='button'>";
  if (stack2 = helpers.label) { stack2 = stack2.call(depth0, {hash:{},data:data}); }
  else { stack2 = (depth0 && depth0.label); stack2 = typeof stack2 === functionType ? stack2.call(depth0, {hash:{},data:data}) : stack2; }
  buffer += escapeExpression(stack2)
    + "</button>\n</script>";
  return buffer;
  });
})();