<div id="content">
    <div id="search-results-list">
        <table id="incidents" width="100%" class="stripeMe">
            <thead>
            <tr>
                <th title="Priority"><strong>!</strong></th><th>Phone</th><th>Village</th><th>Dept.</th><th style="border-right:none;">Date</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
